<script>
export default {
  name: 'Card',
  props: {
    id: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <ul>
    <li>Карточка 1</li>
    <li>Карточка 2</li>
    <li>Карточка {{ id }}</li>
  </ul>
</template>

<style module lang="scss">
</style>
