<script>
import { mapState } from 'vuex';

export default {
  name: 'Catalog',

  computed: {
    ...mapState('cards', {
      catalog: 'items',
    }),
  },
};
</script>

<template>
  <ul>
    <li
      v-for="{ id } in catalog"
      :key="id"
    >
      <router-link :to="{ name: 'card', params:{ id }}">
        {{ id }}
      </router-link>
    </li>
  </ul>
</template>

<style module lang="scss">
</style>
