<script>
export default {
};
</script>

<template>
  <v-content>
    <v-container
      fluid
      fill-height
    >
      <v-layout
        justify-center
        align-center
      >
        <v-flex text-xs-center>
          <v-btn @click="$router.push({ name: 'catalog'})">Карточки</v-btn>
          <v-btn @click="$router.push({ name: 'quiz'})">Викторина</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>
