<script>
export default {
};
</script>

<template>
  <div>
    <h1 :class="$style.h1">Викторина 1</h1>
  </div>
</template>

<style module lang="scss">
.h1 {
  color: blue;
}
</style>
